.footer {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(to right, #3f6df6, #66a3ff);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  margin-top: 200px;
  font-family: "Tektur", cursive;
}

.socialMedia svg {
  color: white;
  margin: 20px;
  font-size: 70px;
  cursor: pointer;
}
.socialMedia svg:hover {
  color: rgb(0, 38, 255);
}

.location {
  align-items: center;
  display: flex;
  color: aliceblue;
}

@media only screen and (max-width: 600px) {
  .footer svg {
    font-size: 50px;
  }
}
